# =======================================
# Python
# =======================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.log

# =======================================
# Virtual Environments
# =======================================
.venv/
venv/
env/
ENV/
.idea/
.vscode/

# =======================================
# OS / Editor Files
# =======================================
.DS_Store
Thumbs.db

# =======================================
# Environment / Config
# =======================================
.env
.key.env
*.pem
*.key

# =======================================
# Airflow & Docker
# =======================================
logs/
airflow/logs/
dags/__pycache__/
db/init.sql~backup
output/
raw/
